doctype html
html(lang='en')
	head
		//- title Jade
		//- link(rel="stylesheet", href="assets/css/app.css")
		//- script(src="assets/js/app.js")
	body
		h1 Jade - node template engine
		#container.col
			p You are amazing
			p
				| Jade is a terse and simple
				| templating language with a
				| strong focus on performancej
				| and powerful features.
		include template/section.pug
